@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #FF4D01;
  --color-primary-dull: #eb500e;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}
